body{
    background-color: #E5E5E5;
}
.icon{
    height: 51px;
    width: 40px;
}
.brand-name{
    font-family:cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}
.main1 img{
    height: 56px;
    width: 56px;
}
.main1 p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
    line-height: 27px;
    letter-spacing: 1px;
}
main{
    background-color: white;
    border-radius: 5px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 30px;
}
.heading{
    grid-column: 1/span 2;
}
.blog{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
}
.blog img{
    grid-row: 1/span 2;
    height: 117px;
    width: 177px;
}
.courses{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px 30px;
}
.modules-pic {
    height: auto;
    width: 100%;
}
.icons img{
    height: 20.03px;
    width: 20.03px;
}
.pinkish{
    color: #ED6B4F;
}
.floating{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.time{
    background: #FFE4E8;
    text-align: center ;
    border: 1px solid #FF4A60;
    border-radius: 14.70px;
    padding: 5px 5px;
}
.floating .time span{
    color: #FF4A60;
}